<div class="row">
  <div class="col-md-12 mx-auto">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="text-center">New post</h1>
        <%= render "form", post: @post %>
      </div>
    </div>
  </div>
</div>
